*.log
*.bbl
*.blg
*.xml
tests/*/polytech
builds
*-blx.bib
test.pdf

*.aux
*.bcf
*.synctex.gz
*.toc
dummy.bib
latexmkrc
latexmkrc.*
*.ist
*.glo
*.idx
*.acn 
*.acr 
*.alg 
*.fdb_latexmk 
*.fls 
*.glg 
*.gls 
*.ilg 
*.ind
